<div class="sidebar">
  <div class="container">
    {% include sidebar-about.html %}
    <nav class="sidebar-nav">
      {% include sidebar-nav-item.html url="/"            title="Home" %} | 
      {% include sidebar-nav-item.html url="/2024/"            title="Upcoming ICMS" %}<br/>
      {% include sidebar-nav-item.html url="/about/"      title="About" %} | 
      {% include sidebar-nav-item.html url="/bylaws/"      title="Bylaws" %} |
      {% include sidebar-nav-item.html url="/organization/"     title="Organization" %}<br/>
      {% include sidebar-edit.html %}<br/>
      {% include sidebar-nav-item.html url="/follow/"     title="Contact" %},
      {% include sidebar-feeds.html %}
    </nav>
  </div>
</div>
