<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}/">
            <img src="/public/logo.png" alt="{{ site.title }}" width="100%"/>
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
      <p class="site-url lead"><a href="{{ site.url }}/">{{ site.url }}</a></p>
    </div>

    <nav class="sidebar-nav">
      {% include sidebar-nav-item.html url="/"            title="Home" %}<br/>
      {% include sidebar-nav-item.html url="/about/"      title="Vision" %},
      {% include sidebar-nav-item.html url="/bylaws/"      title="Bylaws" %},
      {% include sidebar-nav-item.html url="/follow/"     title="Contact" %}<br/>
      <a class="sidebar-nav-item" href="{{ site.github.zip_url | replace: 'zipball', 'edit' }}/{% if page.source %}{{ page.source }}{% else %}{{ page.path }}{% endif %}">Edit this page</a><br/>
  </nav>
  </div>
</div>
