<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}/">
            <img src="/public/logo.png" alt="{{ site.title }}" width="100%"/>
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
      <p class="site-url lead"><a href="{{ site.url }}/">{{ site.url }}</a></p>
    </div>

    <nav class="sidebar-nav">
      {% include sidebar-nav-item.html url="/"            title="Home" %},
      {% include sidebar-nav-item.html url="/2018/"            title="Upcoming ICMS" %},<br/>
      {% include sidebar-nav-item.html url="/about/"      title="About" %},
      {% include sidebar-nav-item.html url="/bylaws/"      title="Bylaws" %},
      {% include sidebar-nav-item.html url="/follow/"     title="Contact" %}<br/>
      <a class="sidebar-nav-item" href="{{ site.github.zip_url | replace: 'zipball',
					'edit' }}/{% if page.source %}{{ page.source }}{%
					else %}{{ page.path }}{% endif %}">Edit this
      page</a>
            (<a class="sidebar-nav-item" href="https://github.com/icms-conference/icms-conference.github.io#repository-holding-the-sources-of-the-icms-conferenceorg-website-aka-icms-conferencegithubio">HowTo</a>)<br/>
      <span class="sidebar-nav-item">
        <a href="{{ site.baseurl }}/atom.xml"><img class="icon" src="{{ site.baseurl }}/public/feed_w.png" alt="atom feed"></img></a>
<!--        <a href="https://twitter.com/{{ site.author.twitter }}"><img class="icon" src="{{ site.baseurl }}/public/twitter_w.png" alt="twitter"></a>-->
        <a href="https://github.com/{{ site.github-group"><img class="icon" src="{{ site.baseurl }}/public/github_w.png" alt="github"></img></a>
      </span><br/>
  </nav>
  </div>
</div>
