<div class="sidebar">
  <div class="container">
    {% include sidebar-about.html %}
    <nav class="sidebar-nav">
      {% include sidebar-nav-item.html url="/"            title="ICMS Home" %} <hr/>
      {% include sidebar-nav-item.html url="http://www.iaa.tu-bs.de/AppliedAlgebra/ICMS2020/ICMS2020_Organization.html"  title="Committees" %}  <br/>
      {% include sidebar-nav-item.html url="http://www.iaa.tu-bs.de/AppliedAlgebra/ICMS2020/ICMS2020.html" title="Local Homepage" %}  <br/> 
      <!-- {% include sidebar-congress-nav-item.html path="invited-speakers/" title="Invited Speakers" %}  <br/> -->
      <!-- {% include sidebar-congress-nav-item.html path="daily-program/"     title="Daily Program" %}  <br/> -->
      <!-- {% include sidebar-congress-nav-item.html path="overall-program/"     title="Overall Program" %}  <br/> -->
      {% include sidebar-nav-item.html url="http://www.iaa.tu-bs.de/AppliedAlgebra/ICMS2020/ICMS2020_Sessions.html"  year=year   title="Sessions" %}  <br/>
      <!-- {% include sidebar-congress-nav-item.html path="dates/"     title="Important Dates" %}  <br/> -->
      <!-- {% include sidebar-congress-nav-item.html path="call-for-posters/"     title="Call for Posters" %}  <br/>-->
      <!-- {% include sidebar-congress-nav-item.html path="call-for-session-proposals/"     title="Call for Session Proposals" %}  <br/> -->
      <!-- {% include sidebar-congress-nav-item.html path="submission-guidelines/"     title="Submission Guidelines" %}  <br/> -->
      <!-- {% include sidebar-congress-nav-item.html path="demos/"     title="Call for Demos/Tutorials/Posters" %}  <br/> -->
      <!-- {% include sidebar-congress-nav-item.html path="registration/"     title="Registration" %}  <br/> -->
      <!-- {% include sidebar-congress-nav-item.html path="venue/"     title="Conference Venue" %}  <br/> -->
      <!-- {% include sidebar-congress-nav-item.html path="travel/"     title="Travel" %}  <br/> -->
      <!-- {% include sidebar-congress-nav-item.html path="accommodations/"     title="Accommodations" %} -->
      <hr/> 
    {% include sidebar-edit.html %}<br/>
    {% include sidebar-nav-item.html url="/follow/"     title="Contact" %},
    {% include sidebar-feeds.html %}
  </nav>
  </div>
</div>
