<div class="sidebar">
  <div class="container">
    {% include sidebar-about.html %}
    <nav class="sidebar-nav">
      {% include sidebar-nav-item.html url="/" title="ICMS Home" %} <hr/>
      {% include sidebar-nav-item.html
      url="http://www.iaa.tu-bs.de/AppliedAlgebra/ICMS2020/ICMS2020_Organization.html"
      title="Committees"%}  <br/>
      {% include sidebar-nav-item.html
      url="/http://www.iaa.tu-bs.de/AppliedAlgebra/ICMS2020/ICMS2020.html title="local homepage" %}  <br/>
      {% include sidebar-nav-item.html url="http://www.iaa.tu-bs.de/AppliedAlgebra/ICMS2020/ICMS2020_Sessions.html" title="Sessions" %} <hr/> 
      {% include sidebar-edit.html %}<br/>
      {% include sidebar-nav-item.html url="/follow/"     title="Contact" %},
      {% include sidebar-feeds.html %}
  </nav>
  </div>
</div>
