
img.introPicture{
	margin-left: 20px;
	margin-bottom: 20px;
}

a.SponsorLink:link{
	border-style: none;
	color: white;
} 

a.SponsorLink:visited{
	border-style: none;
	color: white;
}

img.sponsor{
	border-style: none;
	Width: 50px;
}

td.SponsorLogo{
	width: 60px;
	Height: 50px;
}

td.SponsorName{
	font-size:10pt;
}