<!DOCTYPE html>
<html lang="en-us">
  {% include head.html %}

  <body class="theme-base-odk">
    {% assign year = page.url | replace: '/', '' %}
    {% if year == site.upcoming %}
       {% include sidebar-upcoming.html year=year %}
    {% else %}
       {% include sidebar-conference.html year=year %}
    {% endif %}

     <div class="content container">
       <h1>{{page.title}}</h1>
       {% if page.news %}
         <h2>ICMS {{page.news}} News</h2>
          {% assign orgaposts = site.posts | where: "orga", page.news %}
          {% for post in orgaposts limit:8%}{% include post_link.html %}{% endfor %}
       {% endif %}

  {{ content }}
</div>
<p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
</body>
<!--
     Built: {{ site.time }}
     Commit: {{ site.github.build_revision }}
-->
</html>
